body {
    background: #1b8503
}

.form-control:focus {
    box-shadow: none;
    border-color: #1b8503
}

.profile-button {
    background: #1b8503;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #1b8503
}

.profile-button:focus {
    background: #1b8503;
    box-shadow: none
}

.profile-button:active {
    background: #1b8503;
    box-shadow: none
}

.back:hover {
    color: #1b8503;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #1b8503;
    color: #fff;
    cursor: pointer;
    border: solid 1px #1b8503
}