<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Δίκτυο Σχολικών Βιβλιοθηκών</title><link rel="icon" href="../static/book.png" type="image/x-icon">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet"/>
    <link href="../../static/index_style.css" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <style>
        .rateyo-bootstrap .jq-ry-rated .jq-ry-star {
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            font-size: 18px;
            color: #ffc107; /* Yellow color for rated stars */
        }

        .rateyo-bootstrap .jq-ry-empty .jq-ry-star {
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            font-size: 18px;
            color: #e2e3e5; /* Gray color for empty stars */
        }
    </style>
</head>

<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-2" href="/user/main">Δίκτυο Σχολικών <br> Βιβλιοθηκών</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <!-- <div class="input-group"> -->
        <!-- <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" /> -->
        <button class="btn btn-success" id="btnNavbarSearch" type="button"
                onclick="window.location.href='{{ url_for('search_book_redirect') }}';">
            <span class="search-text">Αναζήτηση Βιβλίων</span>
            <i class="fas fa-search"></i>
        </button>
        <!-- </div> -->
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <form action="{{ url_for('profile_user') }}" method="POST">
                    <li><a class="dropdown-item" href="{{ url_for('profile_user') }}">Το Προφίλ μου</a></li>
                </form>
                <li><a class="dropdown-item" href="{{ url_for('activity_log_user') }}">Η Δραστηριότητά μου</a></li>
                <li>
                    <hr class="dropdown-divider"/>
                </li>
                <li><a class="dropdown-item" href="{{ url_for('logout') }}">Αποσύνδεση</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">ΑΡΧΙΚΗ</div>
                    <a class="nav-link" href="/user/main">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Αρχική
                    </a>
                    <div class="sb-sidenav-menu-heading">Interface</div>
                    <a class="nav-link" href="{{ url_for('search_book_redirect') }}">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Αναζήτηση Βιβλίων
                    </a>
                    <a class="nav-link" href="{{ url_for('profile_user') }}">
                        <div class="sb-nav-link-icon"><i class="fas fa-user fa-fw"></i></div>
                        Το Προφίλ μου
                    </a>
                    <a class="nav-link" href="{{ url_for('activity_log_user') }}">
                        <div class="sb-nav-link-icon"><i class="fas fa-user fa-fw"></i></div>
                        Η Δραστηριότητά μου
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small"> Είστε συνδεδεμένος/-η ως:</div>
                {{ session.username }}
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Δραστηριότητα</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="/user/main">Αρχική</a></li>
                    <li class="breadcrumb-item active">Δραστηριότητα</li>
                </ol>
            </div>
            {% if checkouts %}
                <div class="table-container mx-auto" style="max-width: 800px;">
                    <table class="table table-striped table-hover" id="checkoutTable">
                        <thead>
                        <tr>
                            <th>Τίτλος βιβλίου</th>
                            <th>Ημερομηνία Δανεισμού</th>
                            <th>Ημερομηνία Επιστροφής</th>
                            <th>Κατάσταση</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for checkout in checkouts %}
                            <tr>
                                <td>{{ checkout.title }}</td>
                                <td>{{ checkout.checkout_time }}</td>
                                <td>
                                    {% if checkout.checkout_status == 'active' or checkout.checkout_status == 'overdue' %}
                                        Δεν έχει επιστραφεί ακόμη
                                    {% else %}
                                        {{ checkout.return_time }}
                                    {% endif %}
                                </td>
                                <td>{{ checkout.checkout_status }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% elif no_checkouts %}
                <p class="text-center"> Δεν έχουν δανειστεί βιβλία με αυτό το barcode.</p>
            {% else %}
                <p class="text-center"></p>
            {% endif %}
            <div class="container-fluid px-4">
                <h2>Τα σχόλιά μου</h2>
                {% for review in reviews %}
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                                    <img class="mt-5" width="100px" src="{{ review.image }}">
                                    <span class="font-weight-bold">{{ review.title }}</span>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <h4 class="mr-3">Βαθμός:</h4>
                                        <div class="rating-container" data-rating="{{ review.rating }}"></div>
                                    </div>
                                    <p class="card-text mt-3"><strong>Αξιολόγηση:</strong> {{ review.text }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <script>
                    $(function () {
                        $(".rating-container").each(function () {
                            var ratingValue = $(this).data("rating");
                            $(this).rateYo({
                                rating: ratingValue,
                                readOnly: true,
                                ratedFill: "#ffc107",
                                normalFill: "#e2e3e5",
                                starWidth: "20px",
                                spacing: "5px",
                                svgPath: "M12 1l3.902 8.524 9.098 1.324-6.619 6.431 1.564 9.096L12 21.566l-8.145 4.805 1.563-9.096L.001 10.848l9.098-1.324L12 1zm0 1.486l-3.195 6.974-7.104 1.036 5.159 5.01-1.28 7.453 6.32-3.734 6.32 3.733-1.28-7.453 5.16-5.01-7.105-1.035L12 2.486z",
                            });
                        });
                    });
                </script>
            </div>

        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Team Project 42 </div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>


<script src="../../static/scripts.js"></script>
{#<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>#}
{#<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"#}
{#        crossorigin="anonymous"></script>#}
</body>

</html>