<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Δίκτυο Σχολικών Βιβλιοθηκών</title><link rel="icon" href="../static/book.png" type="image/x-icon">
    <link href="../../static/index_style.css" rel="stylesheet" type="text/css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-2" href="/operator/main">Δίκτυο Σχολικών <br> Βιβλιοθηκών</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <!-- <div class="input-group"> -->
            <!-- <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" /> -->
            <button class="btn btn-success" id="btnNavbarSearch" type="button" onclick="window.location.href='{{ url_for('search_book_redirect') }}';">
                <span class="search-text">Αναζήτηση Βιβλίων</span>
                <i class="fas fa-search"></i>
            </button>
            <!-- </div> -->
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <form action="{{ url_for('profile_operator') }}" method="POST">
                        <li><a class="dropdown-item" href="{{ url_for('profile_operator') }}">Προφίλ</a></li>
                    </form>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="/operator/main">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Αρχική
                    </a>
                    <div class="sb-sidenav-menu-heading">Interface</div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
                       aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Αναζήτηση
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="{{ url_for('search_book_redirect') }}">Αναζήτηση Βιβλίων</a>
                            <a class="nav-link" href="{{ url_for('search_users_redirect') }}">Αναζήτηση Χρηστών</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                       aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Δανεισμοί
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link"
                               onclick="window.location.href='{{ url_for('pending_holds_redirect') }}';"
                               data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                               aria-controls="pagesCollapseAuth">
                                Αιτήματα δανεισμού
                            </a>
                            <a class="nav-link"
                               onclick="window.location.href='{{ url_for('create_checkout_redirect') }}';"
                               data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                               aria-controls="pagesCollapseAuth">
                                Πραγματοποίηση δανεισμού
                            </a>
                            <a class="nav-link" onclick="window.location.href='{{ url_for('return_book_redirect') }}';"
                               data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                               aria-controls="pagesCollapseAuth">
                                Επιστροφή βιβλίου
                            </a>
                            <a class="nav-link"
                               onclick="window.location.href='{{ url_for('checkout_monitoring_redirect') }}';"
                               data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                               aria-controls="pagesCollapseAuth">
                                Παρακολούθηση ενεργών δανεισμών
                            </a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
                       aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Κριτικές
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="{{ url_for('pending_reviews_operator') }}">Αιτήματα Κριτικών</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                       aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Χρήστες
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link"
                               onclick="window.location.href='{{ url_for('register_monitoring_operator') }}';"
                               data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                               aria-controls="pagesCollapseAuth">
                                Αιτήματα εγγραφής
                            </a>
                            <a class="nav-link" href="{{ url_for('overdue_users_redirect') }}">Καθυστερημένοι χρήστες</a>
                            <a class="nav-link" href="{{ url_for('review_analysis_operator') }}">Στατιστικά βαθμολογίας</a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small"> Είστε συνδεδεμένος/-η ως:</div>
                {{ session.username }}
            </div>
        </nav>
    </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Δανεισμός βιβλίου</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                        <div id="flash-messages" class="mt-4">
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
                <div class = "row">

                <div class="col-md-4 border-right">

                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Πληροφορίες Βιβλίου</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <label class="labels" for="isbnInput">ISBN</label>
                                <div class="input-group input-group mb-4" style="width: 100%;">
                                    <input type="text" class="form-control" id="isbnInput" name="isbnInput" placeholder="Εισάγετε το ISBN">
                                    <button class="btn btn-success" id="bookAutocompleteBtn" type="button"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            <div class="col-md-12"><label class="labels" for="bookTitle">Βιβλίο</label><input type="text" class="form-control" placeholder="Τίτλος" id="bookTitle" readonly> </div>
                            <div class="col-md-12"><label class="labels" for="bookAuthor">Συγγραφείς</label><input type="text" class="form-control" placeholder="Συγγραφέας" id="bookAuthor" readonly ></div>
                            <div class="col-md-12"><label class="labels" for="bookPages">Αριθμός Σελίδων</label><input type="number" class="form-control" placeholder="Αριθμός σελίδων" id="bookPages" readonly></div>
                            <div class="col-md-12"><label class="labels" for="bookYear">Έτος έκδοσης</label><input type="text" class="form-control" placeholder="Έτος έκδοσης" id="bookYear" readonly></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Πληροφορίες Χρήστη</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <label class="labels">Barcode</label>
                                <div class="input-group input-group mb-4" style="width: 100%;">
                                    <input type="text" class="form-control" id="barcodeInput" name="barcodeInput" placeholder="Εισάγετε το barcode" >
                                    <button class="btn btn-success" id="userAutocompleteBtn" type="button"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                              <div class="col-md-6"><label class="labels">Όνομα</label><input type="text" class="form-control" id="userFirstName" placeholder="Όνομα" readonly></div>
                              <div class="col-md-6"><label class="labels">Επώνυμο</label><input type="text" class="form-control" id="userSurname" placeholder="Επώνυμο" readonly></div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12"><label class="labels">Επάγγελμα</label><input type="text" class="form-control" id="userRole" placeholder="Επάγγελμα" readonly></div>
                            <div class="col-md-12"><label class="labels">Σχολείο</label><input type="text" class="form-control" id="userSchool" placeholder="Όνομα σχολείου" readonly></div>
                            <div class="col-md-12"><label class="labels">Ηλεκτρονική διεύθυνση</label><input type="text" class="form-control" id="userEmail" placeholder="Ηλεκτρονική διεύθυνση" readonly></div>
                        </div>
                    </div>
                </div>
                    </form>
                </div>
                <div class="row">
                    <div class="mt-4 text-center">
                        <form method="post" action="{{ url_for('create_checkout_operator') }}" onsubmit="getValueisbn(); getValuebarcode();">
                            <input type="hidden" name="isbn">
                            <input type="hidden" name="barcode">
                            <button class="btn btn-success profile-button" type="submit" name = "checkoutButton">Δανεισμός</button>
                        </form>
                    </div>
            </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Team Project 42 </div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/scripts.js"></script>
    <script src="../static/checkout_autocomplete.js"></script>
    <script>
        function getValueisbn() {
          var inputElement = document.getElementById("isbnInput");
          var value = inputElement.value;
          var isbn = document.getElementsByName("isbn")[0];
          isbn.value = value;
        }
    </script>
    <script>
        function getValuebarcode() {
          var inputElement = document.getElementById("barcodeInput");
          var value = inputElement.value;
          var barcode = document.getElementsByName("barcode")[0];
          barcode.value = value;
        }
    </script>

</body>

</html>