<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Δίκτυο Σχολικών Βιβλιοθηκών</title><link rel="icon" href="../static/book.png" type="image/x-icon">
    <link href="../../static/index_style.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-2" href="/admin/main">Δίκτυο Σχολικών <br> Βιβλιοθηκών</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <!-- <div class="input-group"> -->
            <!-- <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" /> -->
            <button class="btn btn-success" id="btnNavbarSearch" type="button" onclick="window.location.href='{{ url_for('search_book_redirect') }}';">
                <span class="search-text">Αναζήτηση Βιβλίων</span>
                <i class="fas fa-search"></i>
            </button>
            <!-- </div> -->
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <form action="{{ url_for('profile_admin') }}" method="POST">
                        <li><a class="dropdown-item" href="{{ url_for('profile_admin') }}">Προφίλ</a></li>
                    </form>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" href="index.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Interface</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                            data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Layouts
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="layout-static.html">Static Navigation</a>
                                <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                            aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Pages
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                    data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                                    aria-controls="pagesCollapseAuth">
                                    Authentication
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                                    data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="login.html">Login</a>
                                        <a class="nav-link" href="register.html">Register</a>
                                        <a class="nav-link" href="password.html">Forgot Password</a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                    data-bs-target="#pagesCollapseError" aria-expanded="false"
                                    aria-controls="pagesCollapseError">
                                    Error
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
                                    data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="401.html">401 Page</a>
                                        <a class="nav-link" href="404.html">404 Page</a>
                                        <a class="nav-link" href="500.html">500 Page</a>
                                    </nav>
                                </div>
                            </nav>
                        </div>
                        <div class="sb-sidenav-menu-heading">Addons</div>
                        <a class="nav-link" href="/user/books">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Βιβλία
                        </a>
                        <a class="nav-link" href="tables.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Tables
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small"> Είστε συνδεδεμένος/-η ως:</div>
                        {{session.username}}
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Επιστροφή βιβλίου</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                        <div id="flash-messages" class="mt-4">
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <h2 class="mt-4 mb-5" id="searchText">Πληκτρολογήστε το barcode του χρήστη</h2>
                    <form method="POST" action="/admin/return_book/result">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                    <div class="input-group input-group-lg mb-4" style="width: 80%;">
                                        <input type="text" class="form-control" name="barcode" placeholder="Barcode..."
                                            aria-label="Username" aria-describedby="basic-addon1">
                                        <button class="btn btn-success" type="submit"><i
                                                class="fas fa-search"></i></button>
                                    </div>
                            </div>
                        </div>
                    </form>
                    <div id="checkoutTable"></div>
                </div>

                {% if checkouts %}
                <div class="table-container mx-auto" style="max-width: 800px;">
                <h4 class="text-center">Ενεργοί δανεισμοί για το barcode: {{ checkouts[0].barcode }}</h4>
                <h4 class="text-center">Ονοματεπώνυμο Δανειζόμενου: {{ checkouts[0].name }}</h4>
                <table class="table table-striped table-hover" id = "checkoutTable">
                    <thead>
                        <tr>
                            <th>Τίτλος βιβλίου</th>
                            <th>Ημερομηνία Δανεισμού</th>
                            <th>Κατάσταση</th>
                            <th>Επιστροφή</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for checkout in checkouts %}
                        <tr>
                            <td>{{ checkout.title }}</td>
                            <td>{{ checkout.time }}</td>
                            <td>{{ checkout.status }}</td>
                            <td>
                                <form action="/admin/update_return_book" method="POST">
                                <input type="hidden" name="book_copy_id" value="{{ checkout.copy_id }}">
                                <input type="hidden" name="user_id" value="{{ checkout.user_id }}">
                                <button type="submit" class="btn btn-success btn-sm">Επιστροφή</button>
                        </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
                {% elif no_checkouts %}
                        <p class="text-center"> Δεν έχουν δανειστεί βιβλία με αυτό το barcode.</p>
                {% else %}
                        <p class="text-center"></p>
                {% endif %}
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Team Project 42 </div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="../../static/scripts.js"></script>
{#    <script src="../static/search_type_script.js"></script>#}
{#    <script src="../static/search_book_user_script.js"></script>#}
{#    <script src="../static/searching_script.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>#}
{#    <!-- <script src="assets/demo/chart-area-demo.js"></script>#}
{#    <script src="assets/demo/chart-bar-demo.js"></script> -->#}
{#    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"#}
{#        crossorigin="anonymous"></script>#}
{#   <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>#}
{#   <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>#}
</body>

</html>